{% extends 'base.html.twig' %}
{% block title %}Gestion rang{% endblock %}
{% block body %}
    <div class="section row nopadding align-items-stretch topmargin-sm">
        <div class="col-lg-3 border border-info">
            <div class="">
                <h2 class="center mt-3">Ajouter un Rang</h2>
                {{ form_start(form) }}
                <div class="form-group mx-sm-3 mb-2">
                    <label>Titre du rang</label>
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label>Ordre hiérarchique (0 = plus bas) </label>
                    {{ form_widget(form.rang) }}
                    {{ form_errors(form.rang) }}
                </div>
                <button type="submit" class="btn btn-primary mx-sm-3 mb-2">Crée rang</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-6 border border-info">
            <h2 class="center  mt-3">Liste des Rangs</h2>
            <table class="table table-hover bg-light">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Rang hiérarchique</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for grade in gradeList %}
                    <tr>
                        <td>{{ grade.title }}</td>
                        <td>{{ grade.rang }}</td>
                        <td>
                            <a href="{{ path('upRang', {'id': grade.id}) }}" class="button button-mini button-border button-rounded button-green"><i class="icon-line-arrow-up"></i>Rang</a>
                            <a href="{{ path('downRang', {'id': grade.id}) }}" class="button button-mini button-border button-rounded button-blue"><i class="icon-line-arrow-down"></i>Rang</a>
                            <a href="{{ path('delRang', {'id': grade.id}) }}" class="button button-mini button-border button-rounded button-red"><i class="icon-trash2"></i>Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 border border-info">
            <h2 class=" mt-3">Acces menu patron</h2>
            <div class="btn-group mb-3">
                <button type="button" class="button-mini btn-secondary dropdown-toggle rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ajouter rang
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    {% for grade in gradeList %}
                        <a class="dropdown-item" href="{{ path('addRangAccess', {'id': grade.id}) }}">{{ grade.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <table class="table table-hover bg-light">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for access in menuAccess %}
                    <tr>
                        <td>{{ access.title }}</td>
                        <td>
                            <a href="{{ path('removeRangAccess', {'id': access.id}) }}" class="button button-mini button-border button-rounded button-red"><i class="icon-trash2"></i>Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}